$mainBackground: #e3dbe0;
$mainlBlue: #5975ff;
$mainBlack: #000000;

.body {
  background-color: $mainBackground;
  font-family: HelveticaLeah;
  margin: 0;
  height: 100vh;
}

.header {
  padding: 60px;
  text-align: center;
  background: $mainBackground;
  color: $mainBlack;
  font-size: 30px;
}


.container-menu{
    display: flex;
    justify-content: space-between;
}

.position-desc{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.name{
    font-size: 28px;
}

.description{
    font-size: 22px;
}