.each-slide {
  display: flex;
  width: 100%;
  height: 100vh;
  // @media (min-width: 769px) {
  //   height: 80vh;
  // }
}

.each-slide > div {
  width: 100%;
}

.each-slide > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  // @media (min-width: 769px) {
  //   width: 100%;
  //   height: 55%;
  // }
}
